body,html {
    height: 100vh;
    margin: 0px;
    font-family: 'Franklin Gothic Medium';
}
:root{
    --base-size:1rem;
    --type-scale:1.44;
    --h5:calc(var(--base-size) * var(--type-scale));

    --h4:calc(var(--h5) * var(--type-scale));

    --h3:calc(var(--h4) * var(--type-scale));

    --h2:calc(var(--h3) * var(--type-scale));

    --h1:calc(var(--h2) * var(--type-scale));
}

.hero-container {
    background-image: url(../images/Discombobulator_1.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    font-size:var(--h1);
    text-shadow: 6px 5px 15px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
h2{
    text-align: center;
    font-size:var(--h2);
    text-shadow: 6px 5px 15px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
h3{
    text-align: center;
    font-size:var(--h3);
}
h4{
    text-align: center;
    font-size:var(--h4);
    text-shadow: 6px 5px 15px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
h5{
    text-align: center;
    font-size:var(--h5);
}
p{
    text-align: center;
    font-size:var(--base-size);
    text-shadow: 6px 5px 15px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.logo{
  max-width:7%;
  height:auto;
  cursor:pointer;
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0),0.4 );
    
  }
  nav{
    width:50%;
    display:flex;
    justify-content:space-evenly;
    
    
  }
  nav > a{
    text-decoration:none;
    text-transform:uppercase;
    position:relative;
  }
a{
    color: black;
    font-size: 2em;
}
@media screen and (max-width: 376px) {


}

