:root{
    --base-size:1rem;
    --type-scale:1.44;
    --h5:calc(var(--base-size) * var(--type-scale));

    --h4:calc(var(--h5) * var(--type-scale));

    --h3:calc(var(--h4) * var(--type-scale));

    --h2:calc(var(--h3) * var(--type-scale));

    --h1:calc(var(--h2) * var(--type-scale));
}
/* Background Color */
html,body{
    background: rgb(255, 255, 255);
}
h1,h2,h3,h4,h5,p{
    color: rgb(0, 0, 0);
}
h1{
    text-align: center;
    font-size:var(--h1);
    
}
h2{
    text-align: center;
    font-size:var(--h2);
}
h3{
    text-align: center;
    font-size:var(--h3);
}
h4{
    text-align: center;
    font-size:var(--h4);
}
h5{
    text-align: center;
    font-size:var(--h5);
}
p{
    text-align: center;
    font-size:var(--base-size);
}
header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}
li{
    list-style: none;
}
details{
    text-align: center;
    margin-bottom: 50px;
}

.h-carousel{
    background-color:rgba(0, 0, 0, 0.163);
    background-blend-mode: color-burn;
}
.p-carousel{
    display: inline-block;
    background-color:rgba(0, 0, 0, 0.163);
    background-blend-mode: color-burn;
}
.resume{
    width: 100%;
    height: 2100px;
}
.carousel-itemz{
    color: white;
}
.text-shadow{
    text-shadow: 1.2px 1.2px 3px #000000;
    
}
.navagationcolor{
    background-color:rgba(255, 255, 255, 0.307);
    
}
.logo{
    min-width: 75px;
    max-width: 30px; 
}
.instagram{
    color:rgb(255, 255, 255);
    background: rgb(255, 0, 115);
}
.youtube{
    color:rgb(255, 255, 255);
    background: rgb(255, 0, 0);
}
.tiktok{
    color:rgb(255, 255, 255);
    background: black;
}
.linkedin{
    color:rgb(255, 255, 255);
    background: rgb(7, 110, 254);
}
.gmail{
    color:rgb(255, 255, 255);
    background: rgba(254, 24, 7, 0.794);
}
a{
    color: white;
}
a:hover{
    color: rgb(0, 0, 0);
}
